@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: Abel;
    src: url('../fonts/Abel-Regular.ttf');
}

@font-face {
    font-family: Palatino;
    src: url('../fonts/Palatino-Linotype.ttf')
}
@font-face {
    font-family: Acme;
    src: url('../fonts/Acme/Acme-Regular.ttf')
}
@font-face {
    font-family: Alegreya;
    src: url('../fonts/Alegreya/Alegreya-Regular.ttf')
}
@font-face {
    font-family: Cinzel;
    src: url('../fonts/Cinzel/Cinzel-Regular.ttf')
}
@font-face {
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa/Comfortaa-Regular.ttf')
}
@font-face {
    font-family: Exo;
    src: url('../fonts/Exo/Exo-Regular.ttf')
}
@font-face {
    font-family: Quicksand;
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf')
}
@font-face {
    font-family:ShadowsIntoLight ;
    src: url('../fonts/Shadows_Into_Light/ShadowsIntoLight.ttf')
}
@font-face {
    font-family: WorkSans;
    src: url('../fonts/Work_Sans/WorkSans-Regular.ttf')
}

