.preview-section-item {
    background: white;
    padding: 3rem;
    padding-top: 2rem;
    overflow: hidden;
    border: 2px solid transparent;
  }
  
  .isBorder {
    resize: vertical;
    display: block;
    border: 2px dashed rgb(147, 160, 199);
  }

  // .preview {
  //   position: fixed;
  //   top:0;
  //   left: 0;
  //   display: block;
  // }