section {
  display: flex;
  background: black;
}

.sidebar p:hover {
  color: black;
  transition: 0.3s ease;
}

.sidebar img:hover {
  transition: 0.3s ease;
  cursor: grab;
  border: 1px solid black
}

.sidebar img,
p {
  border: 2px solid transparent;
  padding-bottom: 3px;
}

.sidebar img:active {
  cursor: grabbing;
}

.sidebar {
  margin-top: 3em;
  height: 100%;
  width: 18vw;
  position: fixed;
  z-index: 10;

  img {
    width: 85%;
    padding: 2px;
  }
}

.card-body {
  transform: scale(0.85);
  max-height: 100vh;
  overflow: none;
  @media (min-width: 680px) { 
  transform: scale(1);
  }
  @media (max-width: 680px) { 
  transform: scale(1.1);
  }

}

@media (min-width: 1250px) {

  .sidebar {
    height: 100%;
    width: 18vw;
    position: fixed;
    z-index: 10;

    img {
      margin-bottom: -10px;
    }
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.acordion-header {
  height: 2.6rem;

  @media (max-width: 680px) {
    height: 5.5vw;
  }

  .sidebar {
    height: 100%;
    width: 18vw;
    position: fixed;
    z-index: 10;

  }
}

.sidebar-names {
  @media (max-width: 680px) {
    font-size: 2.5vw;
  }
}