.social-share {
    display: inline-block;
    left: 18vw;
    z-index: 11;
    position: fixed;
    background-color: white;
    top: 93vh;
    background: transparent;
}

.share-item {
    background-color: white;
    margin-right: 2em;
}

.share-item:hover {
    cursor: pointer;
}

.slide-fade {
    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }
}