.social-share {
    display: inline-block;
    background-color: white;
    background: transparent;
    margin: 0 auto;
}

.share-item {
    margin-right: 2em;
}

.share-item:hover {
    cursor: pointer;
}
