@import 'fonts';
.section-item {
    padding: 5rem;
}

.icon {
    color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 5px;
    background: #17a2b8;
    position: relative;
    width: 30px;
    transform: scale(2);
    margin: 30px;
  }
  
  .icon:hover {
    border: 1px solid whitesmoke;
    cursor: pointer;
    color: black;
  }
  
  @media (max-width: 800px) {
    .icon {
      transform: scale(1.8);
      margin: 15px;
    }
  }