@import 'fonts';
@import 'sectionPreview';
@import 'socailShare';

.swal2-title,
.swal2-content {
    font-family: Comfortaa;
}

.swal2-modal {
    border-radius: 5% !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#42b983, #8ae7a1);

}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#389e70, #6db880);

}